#cergen__svg {
    stroke-dasharray: 2362;
    stroke-dashoffset: 2362;
    animation: svg_logo 20s ease forwards;
}

.wave-container {
    height: 50vh;
    background-color: #20a9a2;
    position: relative;
}

.wave-container::before {
    content: "";
    width: 100%;
    height: 132px;
    position: absolute;
    bottom: -0.3%;
    left: 0;
    background-size: auto;
    background-repeat: repeat no-repeat;
    background-position: 67vw bottom;
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200  80' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 59L50 55C100 51 200 44 300 30C400 15 500 -6 600 1C700 8 800 44 900 59C1000 73 1100 66 1150 62L1200 59V80H1150C1100 80 1000 80 900 80C800 80 700 80 600 80C500 80 400 80 300 80C200 80 100 80 50 80H0V59Z' fill='%23ffffff'/></svg>");
}

.underline {
    width: 100%;
    border: 1px solid #fff;
    border-radius: 20px;
    position: absolute;
    top: 85%;
    transform: translateX(-70%);
    animation: slide-in-anim 5s ease-out forwards;
}

.details {
    width: 30%;
    position: absolute;
    top: 35%;
    left: 35%;
    color: #fff;
    display: grid;
    justify-content: center;
}

@keyframes slide-in-anim {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    60% {
        transform: translateX(7%);
    }

    75% {
        transform: translateX(-7%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@media(max-width:850px) {
    .wave-container::before {
        height: 66px
    }
}

@keyframes svg_logo {
    to {
        stroke-dashoffset: 0;
    }
}