.pagination-btn {
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 40px;
    margin-top: 20px;
}

.pagination-btn a {
    padding: 10px;
    border-radius: 7px;
    border: 1px solid gainsboro;
    cursor: pointer;
    font-size: medium;
}

.pagination-btn a:hover {
    color: #ffff;
    background-color: rgb(0 126 255);
}

.pagination-active a {
    color: #ffff;
    background-color: rgb(0 126 255);
}